@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Fira+Sans:300,400");
	    
@import 'base';
@import 'main';


.quote {
    border: 1px solid white;

    margin-bottom: 20px;

    > p {
	margin: 30px;
    }
    
    > p:first-child {
	font-family: Georgia;
	font-size: 2em;
    }
    
    > p:last-child {
	text-align: right;
    }
}