$header-fonts: 'Open Sans Light', verdana, sans-serif;
$title-fonts: $header-fonts;
$body-fonts: Fira, verdana, arial, sans-serif;


* {
    box-sizing: border-box;
}

::selection {
    background-color: #27D6BD;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-fonts;
    font-weight: normal;

    > code {
	font-weight: 300;
    }
}

body {
    font-family: $body-fonts;
    font-size: 16px;
    background: url(background.png);
    color: white;
}

foo

h1, h2, h3, h4, h5 {
    font-family: $header-fonts;
}


p, li {
    line-height: 1.7em;
    text-align: justify;
}

li {
    margin-bottom: 10px;
}

ul {
    margin: 30px 0px;
}

a {
    color: #27D6BD;
    font-weight: bold;
    transition: 1s color;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}


/* centering content */

body {
    display: flex;
}

#wrapper {
    margin: auto;
    margin-top: 100px;
    max-width: 700px;
    background: #242E37;
    padding: 15px;
}

/* header */

#header {
    text-align: center;
    position: relative;
    top: -80px;

    > #title {
	font-family: $title-fonts;
	font-size: 5em;
	color: #27D6BD;
	margin: 0px;
	position: relative;
	top: -80px;
    }
}

/* main */

#main {
    padding: 20px;

    > p:last-child {
	text-align: center;
    }
}


/* footer */
#footer {
    font-family: $title-fonts;
    background: #27D6BD;
    color: black;
    padding: 20Px;
    font-size: 2em;
    border-bottom: 5px white solid;

    
    p {
	margin: 0px;
	text-align: center;

	a {
	    color: black;
	    font-weight: normal;
	}
    }
}